html {
    height: 100%;
}

body {
    font-family: "メイリオ", "Meiryo", sans-serif;
    height: 100%;
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansJP-Light";
    src: url("../fonts/NotoSansJP-Light.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: url("../fonts/NotoSansJP-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansJP-SemiBold";
    src: url("../fonts/NotoSansJP-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansJP-Bold";
    src: url("../fonts/NotoSansJP-Bold.ttf") format("truetype");
}