@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
#slider {
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    z-index: -50;
    /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*========= レイアウトのためのCSS ===============*/

.wrapper {
    position: relative;
}